<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/logo.png" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Checkout</ion-card-title>
      <ion-card-subtitle>Concluir o pedido</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Após concluir o pedido, ele vai ser processado e receberá os itens no seu lugar.
      Por favor, esteja no lugar para o receber e proceder ao pagamento.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let item of cart; let i = index; let last = last">

          <ion-list [lines]="last ? 'none' : null" detail="true">
            <ion-item>
              <ion-label>
                <h3>{{ item.name }}</h3>
                <p>{{ item.price }} € X {{ item.quantity }}</p>
              </ion-label>
              {{ item.subtotal | number: '1.2-2' }} €
            </ion-item>
          </ion-list>

          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteItem(i)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="cart.total < 7" class="ion-text-center">
    <ion-note>A encomenda tem de totalizar um valor mínimo de 7€.</ion-note>
    <ion-button size="small" (click)="router.navigateByUrl('/')">Continuar a escolher</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <div class="ion-text-center">
      <h1 style="margin-top: 10px;"><small>Total: </small>{{ cart.total | number: '1.2-2' }} €</h1>
    </div>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-button expand="full" fill="clear" color="light" (click)="order()" [disabled]="cart.total < 7">Concluir o pedido</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button expand="full" size="small" fill="clear" color="danger" (click)="emptyCart()">Apagar
      carrinho</ion-button>
  </ion-toolbar>
</ion-footer>